.btn {
  margin: 1rem;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
  color: rgb(102, 102, 102);
}

.btn:hover {
  color: rgb(225, 90, 29);
}

.btn svg {
  font-size: 3rem;
}
