/* define variables */
:root {
  --width: 4rem;
  --height: 4rem;
}

.robot {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--width);
  height: var(--height);
  margin: 0.5rem;
}

.robot__logo {
  position: absolute;
  width: 80%;
  height: 80%;
}

.robot__arrow {
  position: absolute;
  transition:
    transform 0.3s ease-in-out 0.2s,
    left 0.3s ease-in-out,
    top 0.3s ease-in-out,
    right 0.3s ease-in-out,
    bottom 0.3s ease-in-out;
}

.robot__arrow--south {
  transform: rotateZ(90deg);
}

.robot__arrow--west {
  transform: rotateZ(0deg);
}

.robot__arrow--north {
  transform: rotateZ(270deg);
}

.robot__arrow--east {
  transform: rotateZ(180deg);
}

/* Keyframes for smooth transitions */
@keyframes north-to-east {
  from {
    transform: rotateZ(270deg);
  }
  to {
    transform: rotateZ(180deg);
  }
}

@keyframes east-to-south {
  from {
    transform: rotateZ(180deg);
  }
  to {
    transform: rotateZ(90deg);
  }
}

@keyframes south-to-west {
  from {
    transform: rotateZ(90deg);
  }
  to {
    transform: rotateZ(0deg);
  }
}

@keyframes west-to-north {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(-90deg);
  }
}

@keyframes north-to-west {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(0deg);
  }
}

.robot__arrow--animate-north-to-east {
  animation: north-to-east 0.3s ease-in-out forwards;
}

.robot__arrow--animate-east-to-south {
  animation: east-to-south 0.3s ease-in-out forwards;
}

.robot__arrow--animate-south-to-west {
  animation: south-to-west 0.3s ease-in-out forwards;
}

.robot__arrow--animate-west-to-north {
  animation: west-to-north 0.3s ease-in-out forwards;
}
