.controls {
  background-color: rgb(247, 247, 247);
  padding: 3rem;
}

.controls__heading {
  font-size: 2rem;
}

.controls__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
